@import 'colors';
@import 'syntax-variables';

.syntax--comment {
    color: @syntax-color-comment;
}

.syntax--constant {
    color: @syntax-color-constant;

    &.syntax--character.syntax--cescape {
        color: @elven_teal;

        &.syntax--python {
            color: @elven_banana;
        }
    }

    // &.numeric {
    //     color: @syntax-color-value;
    // }

    &.syntax--other.syntax--color {
        color: @elven_teal;
    }

    &.syntax--other.syntax--symbol {
        color: @elven_leaf;
    }
}

.syntax--css {
    &.syntax--class {
        color: @elven_purple;
    }

    &.syntax--pseudo-element {
        color: @elven_apple;
    }
}

.syntax--entity {
    &.syntax--name.syntax--function {
        color: @syntax-color-function;
    }

    &.syntax--name.syntax--type,
    &.syntax--name.syntax--class,
    &.syntax--name.syntax--type.syntax--class {
        color: @syntax-color-class;
    }

    &.syntax--name.syntax--section {
        color: @elven_khaki;
    }

    &.syntax--name.syntax--tag {
        color: @elven_scrubs;
    }

    &.syntax--id {
        color: @elven_emerald;
    }

    &.syntax--inherited-class {
        color: @elven_cream;
    }
}

.syntax--html {
    &.syntax--punctuation.syntax--definition.syntax-tag {
        color: @elven_scrubs;
    }
}

.syntax--invalid.syntax--illegal {
    background-color: @elven_strawberry;
    color: @syntax-background-color;
}

.syntax--keyword {
    color: @syntax-color-keyword;

    &.syntax--control {
        color: @elven_khaki;
    }

    &.syntax--operator {
        color: @syntax-text-color;
    }

    &.syntax--operator.syntax--python {
        color: @elven_scrubs;
    }

    &.syntax--other.syntax--special-method {
        color: @elven_mustard;
    }

    &.syntax--other.syntax--unit {
        color: @elven_mustard;
    }

    &.syntax--control.syntax--exception {
        color: @elven_raspberry;
    }
}

.syntax--markup {
    &.syntax--bold {
        color: @elven_egg;
        font-weight: bold;
    }

    &.syntax--changed {
        color: @elven_lilac;
    }

    &.syntax--deleted {
        color: @elven_strawberry;
    }

    &.syntax--italic {
        color: @elven_purple;
        font-style: italic;
    }

    &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
        color: @elven_emerald;
    }

    &.syntax--inserted {
        color: @elven_leaf;
    }

    &.syntax--list {
        color: @elven_strawberry;
    }

    &.syntax--quote {
        color: @elven_egg;
    }

    &.syntax--raw.syntax--inline {
        color: @elven_leaf;
    }
}

.syntax--meta {
    &.syntax--class {
        color: @elven_cream;
    }

    &.syntax--link {
        color: @elven_raspberry;
    }

    &.syntax--require {
        color: @elven_apple;
    }

    &.syntax--selector {
        color: @elven_purple;
    }

    &.syntax--separator {
        background-color: @gray_50;
        color: @syntax-text-color;
    }

    &.syntax--function-call {
        color: @elven_cream;
    }
}

.syntax--none {
    color: @syntax-text-color;
}

.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: @syntax-color-comment;
        }

        &.syntax--string {
            color: @elven_teal;
        }

        &.syntax--parameters,
        &.syntax--array {
            color: @syntax-text-color;
        }

        &.syntax--variable {
            color: @syntax-color-variable;
        }

        &.syntax--heading,
        &.syntax--identity {
            color: @elven_teal;
        }

        &.syntax--bold {
            color: @elven_mustard;
            font-weight: bold;
        }

        &.syntax--italic {
            color: @elven_purple;
            font-style: italic;
        }
    }

    &.syntax--section.syntax--embedded {
        color: darken(@elven_strawberry, 10%);
    }
}

.syntax--source.syntax--gfm {
    .syntax--link {
        color: @elven_teal;

        &.syntax--markup {
            color: @elven_mustard;
        }
    }

    .syntax--heading {
        color: @elven_khaki;
    }

    .syntax--markup.syntax--code {
        color: @elven_khaki;
    }
}

.syntax--storage {
    color: @elven_purple;

    &.syntax--modifier {
        color: @elven_scrubs;

        &.syntax--extends,
        &.syntax--implements {
            color: @elven_purple;
        }
    }
}

.syntax--string {
    color: @elven_teal;

    &.syntax--regexp {
        color: @elven_emerald;

        .syntax--source.syntax--ruby.syntax--embedded {
            color: @undecided;
        }
    }

    &.syntax--other.syntax--link {
        color: @undecided;
    }
}

.syntax--support {
    &.syntax--class {
        color: @elven_cream;
    }

    &.syntax--function  {
        color: @gray_75;

        &.syntax--any-method {
            color: @gray_75;
        }
    }
}

.syntax--variable {
    color: @elven_banana;

    &.syntax--interpolation {
        color: darken(@elven_strawberry, 10%);
    }

    &.syntax--parameter.syntax--function {
        color: @syntax-text-color;
    }
}
